
/*fondo footer y quitar estilo*/
.footer{
    background-color: black;
    list-style: none;


}

/*colocar footer en columna*/
.sb_footer{
    display: flex;
    flex-direction: column;
}

/*colocar estilo a los links tipo horizontal*/
.sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

/*colocar tamaño de las columnas*/
.sb_footer-links_div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

/*colocar colocar a las a*/
a{
    color: rgb(175, 175, 179);
    text-decoration: none;
}

/*poner las redes sociales en horizontal*/
.socialmedia {
    display: flex;
    flex-direction: row;
}

/* establecer ancho de las imagenes*/
.socialmedia img {
    width: 80%;
}


/*establecer estilo de titulos*/
.sb_footer-links_div h4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

/*establecer tamaño del parrafos*/
.sb_footer-links_div p{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0.5rem;
    cursor: pointer;

}


/*establecer en horizontal*/
.sb_footer-bellow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.sb_footer-bellow-links{
    display: flex;
    flex-direction: row;
}

.sb_footer-bellow-links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

/*linea blanca*/
hr{
    color: white !important;
    width: 100%;
}

/*estilo del copyright*/
.sb_footer-copyright p{
    font-size: 13px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-left: 15px;
}

/*establecer padding*/
.secction_padding{
    padding: 10px;
    margin: 10px;
}

/*hover a las letras*/
div a:hover{
    color: white;

}